Debug/*
Release/*
deploy/*
*.sdf
*.suo
log.txt
*.vcxproj.user
*.opensdf
getopt/Debug/*
getopt/Release/*
logger/Debug/*
logger/Release/*
actilog/Debug/*
actilog/Release/*
actiwin/Debug/*
actiwin/Release/*
*.ipch
_UpgradeReport_Files/*
UpgradeLog.*
*.aps